<nav>
  <ul>
    <li>
      <%= t('navigation.archives') %>
    </li>
    <li>
      <%= t('navigation.sponsors') %>
    </li>
    <li>
      <%= t('navigation.about_us') %>
    </li>
    <li>
      <%= t('navigation.contact') %>
    </li>
  </ul>
</nav>
