<div id="leader">
  <div class="container">
    <div class="entry-content" itemprop="text">
      <p class="lead" style="max-width:880px; margin:98px auto; font-size:1.5rem;">
        Un podcast mensual realizado por profesionales en la salud donde se discuten
        las últimas noticias e investigaciones en la rama.
      </p>
    </div>
    <%= render 'episodes/current' if @current_episode %>
  </div>
</div>
<div id="episodes" class="container">
  <%= render @episodes %>
</div>
