body {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

#leader {
  height: 415px;
  background-image: url(https://www.mixcloud.com/media/images/www/static/homepage/homepage-leader-08.jpg);
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}
