<table>
  <thead>
    <th>
      Episode Number
    </th>
    <th>
      Title
    </th>
    <th>
      Duration
    </th>
    <th></th>
  </thead>
  <tbody>
<% @episodes.each do |episode| %>
  <tr>
    <td>
      1
    </td>
    <td><%= episode.title %></td>
    <td><%= link_to 'Edit', edit_admin_episode_path(episode) %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'New Episode', new_admin_episode_path %>
