<nav>
  <ul>
    <li>
      <%= link_to t('admin.navigation.hosts'), admin_hosts_path %>
    </li>
    <li>
      <%= link_to t('admin.navigation.episodes'), admin_episodes_path %>
    </li>
  </ul>
</nav>
